<%- include('menu/header', {bot, user, path}) %>

<head>
  
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</head>
<br<br><br><br><br>
<div class="top">
<div class="container is-fullhd " bgcolor="white">
<br>
 <form method="post">
				
   <div align="center" class="botekle" style="color:white; font-size:20px;">

<br>
            <h4 style="color: #7289D9; text-align: left;">
              Prefix
              </h4>         <!-- PREFIX -->
            <div class="input-group">
              <input type="text" name="botprefix" id="botprefix" class="form-control" value="<%=bot.ayar.fetch(`botlar.${id}.prefix`)%>">
              <div class="input-group-append" id="button-addon4">
              </div>
            </div> <br> 
     <h4 style="color: #7289D9; text-align: left;">
              Kısa Açıklama
              </h4>
                           <!-- Kisa Aciklama -->
            <div class="input-group">
              <input type="text" name="kisa-aciklama" id="kisa-aciklama" class="form-control"  value="<%=bot.ayar.fetch(`botlar.${id}.kisaaciklama`)%>">
              <div class="input-group-append" id="button-addon4">
              </div>
            </div>
     <br>
                                       <!-- GitHub -->
         
     
        <h4 style="color: #7289D9; text-align: left;">
              Destek Sunucusu
              </h4>
                <div class="input-group mb-3">
    <div class="input-group-prepend">
     <span class="input-group-text" id="basic-addon3">https://discord.gg/</span>
   </div>
  <input type="text" name="botdestek" id="botdestek" class="form-control" placeholder="Destek Sunucusu URL (veya Boş bırakın)">
 </div>
     
     <br>
                    <h4 style="color: #7289D9; text-align: left;">
              Web Site
              </h4>                              <!-- Web Site -->
            <div class="input-group">
              <input type="url" name="botsite" id="botsite" class="form-control" placeholder="Web Site URL (veya Boş bırakın)">
              <div class="input-group-append" id="button-addon4">
              </div>
            </div>
     <br>
       <!-- Kutuphane -->
     
          <br>
        <h4 style="color: #7289D9; text-align: left;">
              Kütüphane
              </h4>
    <div class="sec-style">
     <select id="kutuphane" name="kutuphane" required="required">
       <option disabled selected>Kütüphane seçiniz.</option>
       <option value="discordcr" >discordcr</option>
        
          <option value="Nyxx" >Nyxx</option>
        
          <option value="Discord.Net" >Discord.Net</option>
        
          <option value="DSharpPlus" >DSharpPlus</option>
        
          <option value="Nostrum" >Nostrum</option>
        
          <option value="coxir" >coxir</option>
        
          <option value="DiscordGo" >DiscordGo</option>
        
          <option value="Discord4J" >Discord4J</option>
        
          <option value="Javacord" >Javacord</option>
        
          <option value="JDA" >JDA</option>
        
          <option value="discord.js" >discord.js</option>
        
          <option value="Eris" >Eris</option>
        
          <option value="Discordia" >Discordia</option>
        
          <option value="RestCord" >RestCord</option>
        
          <option value="Yasmin" >Yasmin</option>
        
          <option value="disco" >disco</option>
        
          <option value="discord.py" >discord.py</option>
        
          <option value="discordrb" >discordrb</option>
        
          <option value="serenity" >serenity</option>
        
          <option value="SwiftDiscord" >SwiftDiscord</option>
        
          <option value="Sword" >Sword</option>
        
        <option value="Other" >Other</option>
     </select>
     </div>

	<br>
        <h4 style="color: #7289D9; text-align: left;">
              Uzun Açıklama
              </h4>
      <% var xx %>
<% for (var ii = 0; ii < bot.tags.length; ii++) { %>
  <% if(bot.ayar.fetch(`botlar.${id}.uzunaciklama`).includes(bot.tags[ii]) === false) {%>
    <% xx = false %>
 <% } %>
    <% if (bot.ayar.fetch(`botlar.${id}.uzunaciklama`).includes(bot.tags[ii]) === true) { %>
     <% x = true %>
    <% } %>
<% } %>
                                     <!-- Uzun Açıklama -->
		<div>
      <textarea class="form-control" name="uzun-aciklama" id="uzun-aciklama"
                value="<%= bot.ayar.fetch(`botlar.${id}.uzunaciklama`) %>" minlength="50" required="required">
        <%= bot.ayar.fetch(`botlar.${id}.uzunaciklama`) %>
      </textarea>
     </div>
  
    
    
     
     <br>



				<div style="width: 100%; text-align: center; margin-top: 20px;">
					<button style="border-radius: 100px; background-color:#00a1ff" type="submit" class="btn btn-primary">Botu Düzenle<i aria-hidden='true'></i></button>
          <br>
          <br>
				</div>
   </div>
			</form>
		</div>
<% include ./menu/footer %>
  
</div>
