<html lang="en"><head>
    <meta charset="UTF-8">
    <title><%=bot.ayar.fetch(`botlar.${id}.isim`)%> | Top Bots </title>
    <script type="text/javascript" async="" src="https://www.google-analytics.com/analytics.js"></script><script src="https://connect.facebook.net/signals/config/368127840431718?v=2.9.5&amp;r=stable" async=""></script><script async="" src="https://connect.facebook.net/en_US/fbevents.js"></script><script async="" src="https://www.googletagmanager.com/gtm.js?id=GTM-NJ24THC"></script><script src="/cdn-cgi/apps/head/bbnPQeuFWXRIMBK35XSH6WReu3Y.js"></script><script src="/cdn-cgi/apps/body/wiTbtMkqv_75byUjkfJ4aNtO9-0.js"></script><link rel="stylesheet" id="stylesheet11927" href="https://topbots-site-kodlari.glitch.me/stylesheets/style.css">
    <script src="/scripts/jquery-3.4.1.min.js" type="text/javascript"></script>
    <script src="/scripts/darkmode.js" type="text/javascript"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<%=bot.ayar.fetch(`botlar.${id}.isim`)%> is a multifunctional Discord bot trained for all administrative tasks. Supported languages: Spanish and English.">
    
    <meta name="theme-color" content="#7289DA">
    
    <meta name="twitter:card" value="summary">
    <meta name="twitter:title" content="<%=bot.ayar.fetch(`botlar.${id}.isim`)%>">
    <meta name="twitter:description" content="<%=bot.ayar.fetch(`botlar.${id}.isim`)%> is a multifunctional Discord bot trained for all administrative tasks. Supported languages: Spanish and English.">
    <meta name="twitter:image" content="<%=bot.ayar.fetch(`botlar.${id}.avatar`)%>">
    
      
    <meta name="author" content="iLxlo_#4204">
    
    <meta property="og:type" content="website">
    <meta property="og:site_name" value="Top Bots"
    <meta property="og:title" content="<%=bot.ayar.fetch(`botlar.${id}.isim`)%>">
    
  
    
    <meta property="og:description" content="<%=bot.ayar.fetch(`botlar.${id}.isim`)%> is a multifunctional Discord bot trained for all administrative tasks. Supported languages: Spanish and English.">
    <meta property="og:image" content="<%=bot.ayar.fetch(`botlar.${id}.avatar`)%>">
    
    <link rel="apple-touch-icon" sizes="57x57" href="https://topbots-site-kodlari.glitch.me/img/favicons/apple-touch-icon-57x57.png">
    <link rel="apple-touch-icon" sizes="114x114" href="https://topbots-site-kodlari.glitch.me/img/favicons/apple-touch-icon-114x114.png">
    <link rel="apple-touch-icon" sizes="72x72" href="https://topbots-site-kodlari.glitch.me/img/favicons/apple-touch-icon-72x72.png">
    <link rel="apple-touch-icon" sizes="144x144" href="https://topbots-site-kodlari.glitch.me/img/favicons/apple-touch-icon-144x144.png">
    <link rel="apple-touch-icon" sizes="60x60" href="https://topbots-site-kodlari.glitch.me/img/favicons/apple-touch-icon-60x60.png">
    <link rel="apple-touch-icon" sizes="120x120" href="https://topbots-site-kodlari.glitch.me/img/favicons/apple-touch-icon-120x120.png">
    <link rel="apple-touch-icon" sizes="76x76" href="https://topbots-site-kodlari.glitch.me/img/favicons/apple-touch-icon-76x76.png">
    <link rel="apple-touch-icon" sizes="152x152" href="https://topbots-site-kodlari.glitch.me/img/favicons/apple-touch-icon-152x152.png">
    <link rel="icon" type="image/png" href="https://topbots-site-kodlari.glitch.me/img/favicons/favicon-196x196.png" sizes="196x196">
    <link rel="icon" type="image/png" href="https://topbots-site-kodlari.glitch.me/i.glitch.me/img/favicons/favicon-96x96.png" sizes="96x96">
    <link rel="icon" type="image/png" href="https://topbots-site-kodlari.glitch.me/img/favicons/favicon-32x32.png" sizes="32x32"> 
    <link rel="icon" type="image/png" href="https://topbots-site-kodlari.glitch.me/img/favicons/favicon-16x16.png" sizes="16x16">
    <link rel="icon" type="image/png" href="https://topbots-site-kodlari.glitch.me/img/favicons/favicon-128.png" sizes="128x128">
    <link rel="manifest" href="/manifest.json">
    <meta name="application-name" content="Top Bots">
    <meta name="msapplication-TileColor" content="#7289da">
    <meta name="msapplication-TileImage" content="https://topbots-site-kodlari.glitch.me/img/favicons/mstile-144x144.png">
    <meta name="msapplication-square70x70logo" content="https://topbots-site-kodlari.glitch.me/img/favicons/mstile-70x70.png">
    <meta name="msapplication-square150x150logo" content="https://topbots-site-kodlari.glitch.me/img/favicons/mstile-150x150.png">
    <meta name="msapplication-wide310x150logo" content="https://topbots-site-kodlari.glitch.me/img/favicons/mstile-310x150.png">
    <meta name="msapplication-square310x310logo" content="https://topbots-site-kodlari.glitch.me/img/favicons/mstile-310x310.png">
    <script async="" src="/scripts/loglicense.js" type="text/javascript"></script>
    <!--<script async="" defer="" src="https://use.fontawesome.com/releases/v5.0.6/js/all.js" type="dc66a9659951f896f05027ac-text/javascript"></script>-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async="" src="https://www.googletagmanager.com/gtag/js?id=UA-117777400-1" type="text/javascript"></script>
    <script type="text/javascript">
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-117777400-1');
    </script>
    <!-- Google Tag Manager -->
    <script type="text/javascript">(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-NJ24THC');
    </script>
    <!-- End Google Tag Manager -->
    <!-- Facebook Pixel Code -->
    <script type="text/javascript">
      !function(f,b,e,v,n,t,s)
      {if(f.fbq)return;n=f.fbq=function(){n.callMethod?
      n.callMethod.apply(n,arguments):n.queue.push(arguments)};
      if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
      n.queue=[];t=b.createElement(e);t.async=!0;
      t.src=v;s=b.getElementsByTagName(e)[0];
      s.parentNode.insertBefore(t,s)}(window, document,'script',
      'https://connect.facebook.net/en_US/fbevents.js');
      fbq('init', '368127840431718');
      fbq('track', 'PageView');
    </script>
    <!-- End Facebook Pixel Code -->
    <!-- This style is temporary here -->
    <style>
      @keyframes logo-jump {
        to {
          transform: translate(0, -15px);
        }
      }

      nav.navbar.mini {
        opacity: 0.95;
        transition: opacity 0.2s ease;
      }

      nav.navbar.mini:hover {
        opacity: 1;
      }
    </style>
  
  <link rel="preload" as="script" href="https://images.dmca.com/Badges/DMCABadgeHelper.min.js"><link rel="preload" as="script" href="//cdn.carbonads.com/carbon.js?serve=CK7D5KQN&amp;placement=botsfordiscordcom"><link rel="preload" as="script" href="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></head>
<body  class="" data-cf-browser-state="modern" data-cf-browser-version="75" data-cf-browser-name="chrome">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NJ24THC"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->
<noscript><img height="1" width="1" style="display:none"src="https://www.facebook.com/tr?id=368127840431718&ev=PageView&noscript=1"/></noscript>

  <nav class="navbar is-fixed-top mini">
  <div class="container">
    <div class="navbar-brand">
    <a class="_brand navbar-item" href="/"><img class="__logo" src="https://cdn.discordapp.com/icons/637950353937006604/4019f2cb9487bc1d7a70c9230945e6cd.png"> &nbsp; Anasayfa</a>
    <div class="navbar-burger burger" data-target="navbarmobile">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div> 
  <div id="navbarmobile" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/bots">Botlar</a>
      <a class="navbar-item" href="/discord" target="_blank">Discord</a>
      <a class="navbar-item" href="/verification" target="_blank">Sertifika İste</a>
      <%if (user) {%>
      <a class="navbar-item" href="/addbot" target="_blank">Bot Ekle</a>
      
      <%} %>
        
    </div>
        <div class="navbar-end">
             <%if (!user){%>
                <a href="/giris" class="navbar-item">Giriş Yap</a>
             <% } else { %>
          
            
              <div class="navbar-item has-dropdown is-hoverable">
                  <a onclick="if (!window.__cfRLUnblockHandlers) return false; __toggleUserDropdown()" class="navbar-link"><%=user.username%></a>
                  <div id="_user_dropdown" style="" class="navbar-dropdown">
                    <a href="/profile/<%=user.id%>" class="navbar-item">Profil</a>
                    <% if (bot.admin.includes(user.id) === true) { %>
       <a class="navbar-item" href="/admin-p" style="color: black;"><i aria-hidden="true"></i>Admin Panel</a>
      <% } %>
            
                  <% if(bot.ayar.has(`yetkili.${user.id}.durum`) === true) { %>
   <a class="navbar-item" href="/yetkili" style="color: black;"><i aria-hidden="true"></i>Mod Panel</a>
                        <% } %> 
                    
                    
                      <a class="navbar-item" href="/cikis">Çıkış Yap</a>
                  </div>
              </div>
            
 <% } %>            

          </div>
        </div>
      </div>

  

<script type="text/javascript">
  // Hotfix for the user dropdown
  function __toggleUserDropdown() {
    $("#_user_dropdown").toggle();
  }
  function __toggleHelpDropdown() {
    $("#_help_dropdown").toggle();
  }
</script>
</nav>

 



<style>
.img-circle {
  animation: pulsePic 2s infinite;
  -webkit-animation: pulsePic 2s infinite;
}
iframe {
  border: 2px solid #7289da;
}

</style>
<section class="hero is-medium is-info">
  
   <div class="hero-body" id="bgslide-bot" style="background: url(https://i.hizliresim.com/JVGnvo.png); background-color:rgba(0, 0, 0, 0.2);">
  
    <div class="container">
        <div class="columns">
            <div class="column is-2"><img class="img-circle" title="<%=bot.ayar.fetch(`botlar.${id}.isim`)%>'s Avatar" src="<%=bot.users.get(`${id}`).avatarURL%>" alt="<%=bot.ayar.fetch(`botlar.${id}.isim`)%>" onerror="this.onerror=null;this.src='https://topbots-site-kodlari.glitch.me/img/error/4.png'"></div>
            <div class="column is-10">
               <p class="title" id="highlight"><%=bot.ayar.fetch(`botlar.${id}.isim`)%>
                
                
                
                
                </p> 
               <p class="subtitle" id="highlight"><%= bot.ayar.fetch(`botlar.${id}.kisaaciklama`) %></p>
               
                <style>
                  #status {
                    text-shadow: 2px 2px 4px #000;
                    color:#43B581 !important;
                    font-size: 15px;
                    margin-bottom:10px;
                    margin-top: -15px;
                  }
                  #status:before {
                    content: '';
                    width: 7px;
                    height: 7px;
                    background-color: #43B581 !important;
                    border-radius: 50%;
                    position: relative;
                    display: inline-block;
                    right: 4px;
                    bottom: 1.3px;
                  }
                </style>
                <p class="title" id="status">AKTİF</p>
              
               
               
                
               <div class="field is-grouped is-grouped-multiline" style="filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.65));">
                   
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-dark">Ön-Ek</span>
                    <span class="tag is-info"><%=bot.ayar.fetch(`botlar.${id}.prefix`)%></span>
                  </div>
                </div>
                
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-dark">Oy Sayısı</span>
                    
                      <span class="tag is-warning"><%=bot.ayar.fetch(`botlar.${id}.oy`) || 0 %></span>
                    
                  </div>
                </div>
                
                <div class="control">
                  <div class="tags has-addons">
                    <span class="tag is-dark">Kütüphane</span>
                    <span class="tag is-success"><%=bot.ayar.fetch(`botlar.${id}.kutuphane`)%></span>
                  </div>
                </div>
                
                
            
                
                  <div class="control">
                    <div class="tags has-addons">
                    <span class="tag is-dark">Sahibi</span>
                    <span class="tag is-danger"> 
                      <% if (bot.users.get(bot.ayar.fetch(`botlar.${id}.sahipid`))) { %>
                      <a href="/profile/<%=bot.ayar.fetch(`botlar.${id}.sahipid`)%>"><%= bot.users.get(bot.ayar.fetch(`botlar.${id}.sahipid`)).username %></a>
                      <% } else {%>
                      <a>Kullanıcı bulunamadı.</a>
                      <% } %>
                    </span>
                    </div>
                    </div>
              </div>
              <a target="_blank" href="https://discordapp.com/oauth2/authorize?client_id=<%=id%>&scope=bot&permissions=8" id="page-invite-analytics" class="button is-link" style="filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.65));">Davet Et</a>
               <a href="/vote/<%=id%>" class="button is-white" style="filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.65));">Oy Ver</a>
              
              
              
              
              
			        
              <% if (bot.ayar.has(`botlar.${id}.destek`) == true) {%>       
              <a target="_blank" href="https://discord.gg/invite/<%=bot.ayar.fetch(`botlar.${id}.destek`)%>" class="button is-success" style="filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.65));">Destek Sunucusu</a>
              <% } %>
                
              <% if (bot.ayar.has(`botlar.${id}.site`) == true) {%>       
              <a target="_blank" href="<%=bot.ayar.fetch(`botlar.${id}.site`)%>" class="button is-warning" style="filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.65));">Bot Site</a>
              <% } %>
                <a href="/bot/568083171455795200/report" class="button is-danger" style="filter: drop-shadow(0px 4px 5px rgba(0, 0, 0, 0.65));">Şikayet Et</a> 
              <br><br><br>
              <% if (user) { %>
          <% if(bot.ayar.fetch(`botlar.${id}.sahipid`) === user.id) { %>
          <a href="/profile/<%=user.id%>/bot/<%=id%>/edit"><button class="button is-success duzenle"><i aria-hiddden="true"></i> Düzenle</button></a>
        <a href="/profile/<%=user.id%>/bot/<%=id%>/delete"><button class="sil button is-danger"><i aria-hidden="true"></i>Botu Sil</button></a>
               
       <br>
        <br>
          <% } %>
        <% } %>
              
              
              
              
              
               </div>
            </div>
         </div>
    </div>
  
</section>
<style>
iframe {
  margin: 0 auto;
  display: block;
}
</style>
<section style="color: #000000" class="section content" style="margin-bottom: 10px;">
<%= bot.ayar.fetch(`botlar.${id}.uzunaciklama`) %>
  </section>

<style>
  #carbonads {
  display: block;
  overflow: hidden;
  padding: 1em;
  font-family: Verdana, "Helvetica Neue", Helvetica, sans-serif;
  line-height: 1.5;
  margin: 0 auto;
  background: linear-gradient(to right, #7289da, #7e97f1);
  box-shadow: 0 2px 3px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1);
  color: white !important;
  max-width: 700px;
  border-radius: 20px;
  margin-bottom: 40px;
}

#carbonads span {
  position: relative;
  display: block;
  overflow: hidden;
}

.carbon-img {
  float: left;
  margin-right: 1em;
}

.carbon-img img {
  display: block;
  line-height: 1;
}

.carbon-text {
  display: block;
  float: left;
  max-width: calc(100% - 130px - 1em);
  text-align: left;
  color: white !important;
  margin-bottom: 20px;
}

.carbon-poweredby {
  position: absolute;
  right: 0;
  bottom: 0;
  display: block;
  font-size: .8em;
  text-transform: uppercase;
  line-height: 1;
  letter-spacing: 1px;
  color: white !important;
  padding: 1px;
}

.carbon-poweredby:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
</style>
<div id="middlead" style="margin: 0 auto; display: block;">
<!--<script async="" type="text/javascript" src="//cdn.carbonads.com/carbon.js?serve=CK7D5KQN&amp;placement=botsfordiscordcom" id="_carbonads_js"></script>-->
</div>
<%- include('menu/footer') %>

</body></html>